@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #F9F9F9;
}

.animation-right {
  animation: floatInRight 0.5s;
}

.animation-left {
  animation: floatInLeft 0.5s;
}

@keyframes floatInRight {
  0% {
    transform: translateX(10px);
    opacity: 0
  }

  to {
    transform: translateX(0)
  }
}

@keyframes floatInLeft {
  0% {
    transform: translateX(-10px);
    opacity: 0
  }

  to {
    transform: translateX(0)
  }
}

